<!DOCTYPE html>
<html lang="en">
<head>
    <title> Commander League </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="js/jquery.min.js"></script>

    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/select2.css">
    <script src="js/select2.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <script src="js/module.js"></script>
    <script src="js/store.js"></script>
    <script src="js/binder.js"></script>
    <script src="js/view.js"></script>
    <script src="js/main.js"></script>
</head>
<body>

<span class="nav-parent"></span>

<div class="container">

    <span id='server_data' style="display: none;">
        <%= data %>
    </span>

    <div class="col-md-4">
        <h3> Maindeck </h3>
        <div id="maindeck" class="cardlistdisplay"></div>
    </div>
    <div class="col-md-4">
        <h3> Exchange </h3>
        <div id="maindeck_swap" class="cardlistdisplay"></div>
        <br/>
        <div>
            <button id="swap-cards">SWAP</button>
            <span>Total price: </span>
            <span id="total_swap_price"></span>
        </div>
        <br/>
        <div id="sideboard_swap" class="cardlistdisplay"></div>
    </div>
    <div class="col-md-4">
        <h3> Sideboard </h3>
        <div>
            <form id="lookup-form">
                <select class="col-md-9" id="lookup-select"></select>
                <input class="col-md-3" type="submit" value="Add" />
            </form>
        </div>
        <br/>
        <br/>
        <div id="sideboard" class="col-md-12 cardlistdisplay"></div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        Module("main").index();
    });
</script>
<!-- <script src="js/gatherer_helper.js"></script>
<script src="js/autocard.js"></script> -->
</body>
</html>
