<!DOCTYPE html>
<html lang="en">
<head>
    <title> Commander League </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="js/jquery.min.js"></script>

    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/select2.css">
    <script src="js/select2.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <script src="js/module.js"></script>
    <script src="js/store.js"></script>
    <script src="js/binder.js"></script>
    <script src="js/view.js"></script>
    <script src="js/main.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a class="navbar-brand" href="">Commander League</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="mpw">M. Paul</a></li>
                <li><a href="eliah">Eliah</a></li>
                <li><a href="qwerty">Patrick</a></li>
                <li><a href="gant">Dan</a></li>
                <li><a href="edmond">Edmond</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <h2 id="user_name" class="text-center">loading js...</h2>
    <hr/>

    <span id='server_data' style="display: none;">
        <%= data %>
    </span>

    <div class="col-md-4">
        <h3> Maindeck </h3>
        <div id="maindeck" class="col-md-12 cardlistdisplay"></div>
    </div>
    <div class="col-md-4">
        <h3> Exchange </h3>
        <div id="user_info" class="col-md-12">
            <div class="col-md-6">
                Balance: <span id="balance"></span>
            </div>
            <div class="col-md-6">
                Cost: <span id="cost"></span>
            </div>
        </div>
        <div id="maindeck_swap" class="col-md-12 cardlistdisplay"></div>
        <div class="col-md-12 text-center">
            <button id="swap-cards">SWAP</button>
        </div>
        <div id="sideboard_swap" class="col-md-12 cardlistdisplay"></div>
    </div>
    <div class="col-md-4">
        <h3> Sideboard </h3>
        <div>
            <form id="lookup-form">
                <select class="col-md-9" id="lookup-select"></select>
                <input class="col-md-3" type="submit" value="Add" />
            </form>
        </div>
        <br/>
        <br/>
        <div id="sideboard" class="col-md-12 cardlistdisplay"></div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        Module("main").index();
    });
</script>
<script src="js/gatherer_helper.js"></script>
<script src="js/autocard.js"></script>
</body>
</html>
