.cardlist .data {
	display: none;
}
.cardlistdisplay {
	padding: 1em;
	border: 0.3em double black;
}
@media only screen and (max-device-width: 568px) {
	.cardimage {
		width: 8.965em;
	}
}
@media only screen and (max-width: 480px) and (orientation: landscape) {
	.cardimage {
		width: 9.855em;
	}
}
h3 {
  text-align: center;
}
.category {
  font-weight: bold;
}
.price {
  font-style: italic;
}
#user_info {
  font-size: 14pt;
}
#balance {
  color: green;
}
#cost {
  color: red;
}
.hidden {
  display: none;
}
.cardlist-title {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-left: 0;
  margin-right: 0;
}
.copy {
  cursor: pointer;
  width: 1.17em;
  height: 1.17em;
}