<!DOCTYPE html>
<html lang="en">
<head>
    <title> Commander League </title>
    <link rel='shortcut icon' href='/img/favicon.png'/>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.min.css">

    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/select2.css">
    <script src="/js/select2.js"></script>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/module.js"></script>
    <script src="/js/visual.js"></script>
    <script src="/js/view.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<span id="nav-parent"></span>
<div class="container">

    <span id='server_data' style="display: none;">
        <%= data %>
    </span>

    <h2 id="user_name" class="text-center">loading js...</h2>
    <hr/>

    <div class="col-md-12 text-center">
        <label>From:</label>
        <input type="text" id="date-from" class="datepicker" size="12" placeholder="beginning"/>
        <label>To:</label>
        <input type="text" id="date-to" class="datepicker" size="12" placeholder="today"/>
        <button type="text" id="date-reset">RESET</button>
    </div>
    <div class="col-md-12"><hr/></div>

    <div class="col-md-6">
        <div class="col-md-2"></div>
        <div class="col-md-8 cardlist-title">
            Added
        </div>
        <div class="col-md-2 cardlist-title">
            <img src="/img/copy-icon.png" class="copy" data-id="added"/>
        </div>
        <div id="added" class="col-md-12 cardlistdisplay"></div>
    </div>
    <div class="col-md-6">
        <div class="col-md-2"></div>
        <div class="col-md-8 cardlist-title">
            Removed
        </div>
        <div class="col-md-2 cardlist-title">
            <img src="/img/copy-icon.png" class="copy" data-id="removed"/>
        </div>
        <div id="removed" class="col-md-12 cardlistdisplay"></div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        Module("main").diff();
    });
</script>
<script src="/js/gatherer_helper.js"></script>
<script src="/js/autocard.js"></script>
</body>
</html>
