<!DOCTYPE html>
<html lang="en">
<head>
    <title> Commander League </title>
    <link rel='shortcut icon' href='/img/favicon.png'/>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/jquery.min.js"></script>

    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/select2.css">
    <script src="/js/select2.js"></script>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/module.js"></script>
    <script src="/js/store.js"></script>
    <script src="/js/visual.js"></script>
    <script src="/js/binder.js"></script>
    <script src="/js/view.js"></script>
    <script src="/js/main.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37989728-8', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
<span id="nav-parent"></span>
<div class="container">

    <span id='server_data' class="hidden">
        <%= data %>
    </span>

    <h2 id="user_name" class="text-center">loading js...</h2>
    <hr/>

    <div class="col-md-4">
        <div class="col-md-2"></div>
        <div class="col-md-8 cardlist-title">
            Maindeck
        </div>
        <div class="col-md-2 cardlist-title">
            <img src="/img/copy-icon.png" class="copy" data-id="maindeck"/>
        </div>
        <div id="maindeck" class="col-md-12 cardlistdisplay"></div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 cardlist-title">
            Exchange
        </div>
        <div id="user_info" class="col-md-12">
            <div class="col-md-6">
                Balance: <span id="balance">N/A</span>
            </div>
            <div class="col-md-6">
                Cost: <span id="cost">N/A</span>
            </div>
        </div>
        <div id="maindeck_swap" class="col-md-12 cardlistdisplay"></div>
        <div class="col-md-12 text-center">
            <button id="swap-cards">SWAP</button>
        </div>
        <div id="sideboard_swap" class="col-md-12 cardlistdisplay"></div>
    </div>
    <div class="col-md-4">
        <div class="col-md-2"></div>
        <div class="col-md-8 cardlist-title">
            Sideboard
        </div>
        <div class="col-md-2 cardlist-title">
            <img src="/img/copy-icon.png" class="copy" data-id="sideboard"/>
        </div>
        <div id="lookup-holder" class="hidden">
            <form id="lookup-form">
                <select class="col-md-9" id="lookup-select">
                    <option></option>
                </select>
                <input class="col-md-3" type="submit" value="Add" />
            </form>
        </div>
        <div id="lookup-loading" class="text-center">
            loading...
        </div>
        <div class="col-md-12"><br/></div>
        <br/>
        <div id="sideboard" class="col-md-12 cardlistdisplay"></div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        Module("main").index();
    });
</script>
<script src="/js/gatherer_helper.js"></script>
<script src="/js/autocard.js"></script>
</body>
</html>
